<!doctype html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title>Tunasan Elementary School</title>
		<link href="css/bootstrap.min.css"rel="stylesheet">    
    <link rel="stylesheet" href="css/custom.css" type="text/css"/>
    <style>
    </style>
    <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>	

<body>
  <br/>
  <br/>
  <br/>
  <br/>
<div class="container">
  <br/>
      <img src="TES.jpg" class="img-responsive center-block img-circle" alt="Tunasan Elementary School" width="100px" height="150px" > 
      <br>

<div style="text-align: center;">
<table class="table table-bordered ">
  <tr>
            <th style="text-align: center;"><h2><strong>Student Portal</th></h2></strong>
            <th style="text-align: center;"><h2><strong>Parent Portal</th></h2></strong>
  </tr>

  <tbody>
        <tr>
            <th><a href="#">
      <img src="students.jpeg" class="img-responsive center-block img-circle" alt="Tunasan Elementary School" width="100px" height="150px"></th></a>
            <th><a href="#"><img src="parentz.jpg" class="img-responsive center-block img-circle" alt="Tunasan Elementary School" width="100px" height="150px" ></th></a>
            </th>
        </tr>
</div>

</table>



<style>
          body {background-color: #4169E1;}
          .container { background: #FAFAD2; }
        </style>

<br/>
<pre><h3><strong>Tunasan Elementary School </pre><br/></strong></h3>