<!doctype html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width-device-width, initial-scale-1.0">
		<title>Tunasan Elementary School</title>
		<link href="css/bootstrap.min.css"rel="stylesheet">    
    <link rel="stylesheet" href="css/custom.css" type="text/css"/>
    <style>
    </style>
    <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>	

  <body>
    <style>
          body {background-color: #4169E1;}
          .container { background: #FAFAD2; }
        </style>
    <br/>
<br/>
  <div class="container">
    <br/>
<br/>
      <img src="TES.jpg" class="img-responsive center-block img-circle" alt="Tunasan Elementary School" width="300px" height="350px" > 
      <h1 class="text-center text-info"> <strong> Tunasan Elementary School </h1> </strong>

      <br>

      <form role="form">
        <div class="form-group">
        <div style="text-align: center;">
          <label for="studentnumber" class="text">USERNAME</label>
           <input type="studentnumber" class="form-control center-block" style = "width:500px" id="stdntno" placeholder="Enter Username">
           <br>
        <div class="form-group">
          <label for="pwd">PASSWORD</label>
          <input type="password" class="form-control center-block" style = "width:500px" id="pwd" placeholder="Enter password">
          </div>

        <a href="">Forgot Password?</a href> 
          <br>
          <br>
        <button type="submit" class="btn btn-primary center-block"> Sign In</button>
        <pre width="100px"><h4>Enter your Username and Password</pre></h4>

      </form>
      <br/>
<br/>
    </div>

	</body>

</html>